 .news-info-card {
  padding: 24px;
  /* background: #f9f9f9; */
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-not-found {
  font-size: 16px;
  text-align: center;
}

.news-content {
  width:100%;
  max-width: 300px;
margin:0 auto;
}
